* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
}



:root {
    --main-color: black;
    --text-color: white;
    --gray: #2d2d2d;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 100%; */
}

.main {
    max-width: 1400px;
}



/* repeat styles */

p {
    font-size: 24px;
    font-weight: 400;
    margin: 16px 0 0 0;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

.img {
    padding: 0 0 0 6px;
    width: 508px;
}



/* nav */


.nav-contain {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url(/assets/img/background.jpg);
    height: 100vh;
    width: 100%;
    object-fit: contain;
    border-bottom: 8px solid var(--gray);
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 48px;
    margin: 0 112.422px;
}

.nav-flex img {
    width: 190px;
}

.nav-flex button {
    background-color: red;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 700;
}



/* nav1 */


.nav1 {
    margin-top: 12rem;
    text-align: center;
}

.nav1a {
    margin-top: 2rem;
}

.nav1a p {
    line-height: 1.5;
}

.nav1a input {
    background-color: rgba(0, 0, 0, 0.616);
    border: 1px solid rgb(122, 122, 122);
    border-radius: 5px;
    padding: 16px 24px 16px 16px;
    width: 374px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}

.nav1a button {
    background-color: red;
    border: none;
    padding: 8px 24px 14px 18px;
    width: 203.66;
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px;
}



/* sect1 */


.sect1 {
    background-color: var(--main-color);
    border-bottom: 8px solid var(--gray);
    padding: 72px 0;
}

.sect1-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
}

.sect1-content {
    padding: 0 6px 0 0;
}

.sect1-img-flex {
    position: relative;
}

.sect1-img-flex video {
    position: absolute;
    /* z-index: 1; */
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* sect2 */


.sect2 {
    background-color: var(--main-color);
    border-bottom: 8px solid var(--gray);
    padding: 72px 0;
}

.sect2-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
}

.sect2-content {
    padding: 0 6px 0 0;
}

.sect2-img-contain {
    position: relative;
}

.sect2-img {
    display: flex;
    gap: 1rem;
    /* align-items: center; */
    background-color: black;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 12px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
}

.sect2-imga {
    width: 100%;
    max-width: 20%;
}

.text {
    line-height: 1rem;
}

.text p {
    font-size: 16px;
    font-weight: 600;
}

.text a {
    font-size: 13px;
    color: rgb(23, 46, 255);
    text-decoration: none;
}

.arrow {
    width: 100%;
    max-width: 10px;
    background-color: white;
}



/* sect3 */


.sect3 {
    background-color: var(--main-color);
    border-bottom: 8px solid var(--gray);
    padding: 72px 0;
}

.sect3-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
}

.sect3-content {
    padding: 0 6px 0 0;
}



/* sect4 */


.sect4 {
    background-color: var(--main-color);
    border-bottom: 8px solid var(--gray);
    padding: 72px 0;
}

.sect4-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
}

.sect4-content {
    padding: 0 6px 0 0;
}




/* sect5 */


.sect5 {
    background-color: var(--main-color);
    padding: 72px 0;
    border-bottom: 8px solid var(--gray);
}

.sect5-wrap h1 {
    text-align: center;
}

.sect5-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.sect5-flex p {
    background-color: var(--gray);
    padding: 1.5rem;
    /* width: 100%; */
}

.sect5-flex p img {
    width: 6%;
}

.sect5a {
    text-align: center;
    margin-top: 3rem;
}

.sect5a input {
    background-color: rgba(33, 33, 33, 0.69);
    border: 2px solid var(--gray);
    border-radius: 5px;
    padding: 16px 24px 16px 16px;
    width: 374px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}

.sect5a button {
    background-color: red;
    border: none;
    padding: 8px 24px 14px 18px;
    width: 203.66;
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px;
}


/* drop down1 */

.drop-down1 {
    width: 80%;
    position: relative;
}

.drop-down1:hover {
    margin-bottom: 15f rem;
}

.drop-down1 .spec1 {
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.drop-down1 .spec1:hover img {
    transform: rotate(45deg);
}

.drop-down1-content {
    position: absolute;
    top: 88%;
    z-index: 600;
    display: none;
}

.drop-down1:hover .drop-down1-content {
    display: block;
}

.drop-down1 .spec1:hover {
    background-color: #404040;
}



/* drop down2 */

.drop-down2 {
    width: 80%;
    position: relative;
}

.drop-down2:hover {
    margin-bottom: 7rem;
}

.drop-down2 .spec1 {
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.drop-down2 .spec1:hover img {
    transform: rotate(45deg);
}

.drop-down2-content {
    position: absolute;
    top: 88%;
    display: none;
}

.drop-down2:hover .drop-down2-content {
    display: block;
    z-index: 1000;
}

.drop-down2 .spec1:hover {
    background-color: #404040;
}


/* drop down3 */

.drop-down3 {
    width: 80%;
    position: relative;
}

.drop-down3:hover {
    margin-bottom: 19rem;
}

.drop-down3 .spec1 {
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.drop-down3 .spec1:hover img {
    transform: rotate(45deg);
}

.drop-down3-content {
    position: absolute;
    top: 90%;
    z-index: 600;
    display: none;
}

.drop-down3:hover .drop-down3-content {
    display: block;
}

.drop-down3 .spec1:hover {
    background-color: #404040;
}


/* drop down4 */

.drop-down4 {
    width: 80%;
    position: relative;
}

.drop-down4:hover {
    margin-bottom: 6rem;
}

.drop-down4 .spec1 {
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.drop-down4 .spec1:hover img {
    transform: rotate(45deg);
}

.drop-down4-content {
    position: absolute;
    top: 88%;
    z-index: 600;
    display: none;
}

.drop-down4:hover .drop-down4-content {
    display: block;
}

.drop-down4 .spec1:hover {
    background-color: #404040;
}


/* drop down5 */

.drop-down5 {
    width: 80%;
    position: relative;
}

.drop-down5:hover {
    margin-bottom: 7rem;
}

.drop-down5 .spec1 {
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.drop-down5 .spec1:hover img {
    transform: rotate(45deg);
}

.drop-down5-content {
    position: absolute;
    top: 90%;
    z-index: 600;
    display: none;
}

.drop-down5:hover .drop-down5-content {
    display: block;
}

.drop-down5 .spec1:hover {
    background-color: #404040;
}


/* drop down6 */

.drop-down6 {
    width: 80%;
    position: relative;
}

.drop-down6:hover {
    margin-bottom: 17rem;
}

.drop-down6 .spec1 {
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.drop-down6 .spec1:hover img {
    transform: rotate(45deg);
}

.drop-down6-content {
    position: absolute;
    top: 90%;
    z-index: 1000;
    display: none;
}

.drop-down6:hover .drop-down6-content {
    display: block;
}

.drop-down6 .spec1:hover {
    background-color: #404040;
}



/* footer */


.footer-contain {
    background-color: var(--main-color);
    padding: 72px 0;
    border-bottom: var(--gray);
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.items a {
    font-size: 14px;
    color: rgb(155, 155, 155);
}

.items span p {
    font-size: 16px;
    background-color: rgb(19, 19, 19);
    border: 1px solid gray;
    padding: 5px 20px;
    border-radius: 5px;
}

.items .span {
    font-size: 14px;
    font-weight: 400;
}